numpy
matplotlib
colorlog
tqdm
numpy_image_widget
imagecodecs
ipywidgets
tifffile
seaborn
statsmodels
black
papermill
jupyter-slack
jupyterlab
imageio
natsort
h5py
statannotations
openpyxl
scikit-image
spectrum
lockfile
suite2p==0.10.2