numpy
matplotlib
colorlog
tqdm
numpy_image_widget
imagecodecs
ipywidgets
tifffile
statsmodels
black
papermill
jupyter-slack
jupyterlab
imageio
natsort
h5py
statannotations
openpyxl
scikit-image
spectrum
lockfile
diptest
pandas>=2.0.0
seaborn==0.12.2
suite2p==0.10.2